<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rise.dao.videoDao">

    <select id="getVideoinfo" resultType="com.rise.model.videoinfoModel">
        select
            id,
            videoname,
            videocode,
            videomsg,
            videodate,
            videoactor,
            videoimg,
            videotag,
            videourl
        from videoinfo
        <where>
            <if test="params != null and params.videoname != null and params.videoname != ''">
                and videoname like concat('%', #{params.videoname}, '%')
            </if>
            <if test="params != null and params.videocode != null and params.videocode != ''">
                and videocode like concat('%', #{params.videocode}, '%')
            </if>
            <if test="params != null and params.videoactor != null and params.videoactor != ''">
                and videoactor like concat('%', #{params.videoactor}, '%')
            </if>
        </where>
        order by id desc
    </select>

</mapper>
