<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rise.dao.videoDao">

    <!--2. 基于xml的方式-->


    <select id="getVideoinfo" resultType="com.rise.model.videoinfoModel">
        select * from videoinfo
        <where>
            <if test="params.videoname != null and params != null and params !=''">
                and   videoname like '%${params.videoname}%'
            </if>
            <if test="params.videocode != null and params != null and params !=''">
                and   videocode like '%${params.videocode}%'
            </if>
        </where>

    </select>



</mapper>
